
@{
    ViewData["Title"] = "Fiber: Felting";
    ViewData["Description"] = "At Nettlesnook Farm, a wee bit of hot water and soap go a long way to turn wool rovings into felt.";
}

<main class="content">
    <h2>Fiber Crafts: Felting</h2>
    <div class="content-left">
        <p class="intro">
            I’m a beginner felter.  Why did I not know about this hobby years ago?  All you need is some wool and some hot
            soapy water.  A great site to get you started is <a href="http://feltmagnet.com">feltmagnet.com</a>
        </p>
    </div>
    <img src="~/images/felt1.jpg" alt="Image of felted items on a chair" />
</main>