
@{
    ViewData["Title"] = "Fiber: Knitting";
    ViewData["Description"] = "Knitting is my to-go hobby when we are away from home.";
}

<main class="content">
    <h2>Fiber Crafts: Knitting</h2>
    <p class="intro">
        Check out my knitting projects on Ravelry:  <a href="http://www.ravelry.com/projects/nettlesnook">www.ravelry.com</a>
    </p>
    <div class="content-left">
        <p>
            I knit on the couch, in a car, on a plane, etc.  Knitting is a great bring along hobby.  It keeps my hands busy
            and makes waiting go by a bit faster.
        </p>
    </div>
    <img src="../images/knitting1.jpg" alt="Picture of a ball of yarn in a yarn bowl." />
</main>

