
@{
    ViewData["Title"] = "Fiber: Sewing";
    ViewData["Description"] = "See many of my sewing projects at Nettlesnook Farm.";
}

<main class="content">
    <h2>Fiber Crafts: Sewing</h2>
    <article>
        <div class="content-left">
            <p class="intro">
                If there is one hobby everyone should learn it is sewing.  You can create one of a kind garments and furnishings
                at the fraction of the cost of ready-made.  I like to gather my supplies at thrift Sites, reuse art Sites and
                garage sales.  The quality so much better than what is sold at JoAnne Fabrics and the price is right.  I do order
                my technical and specialty fabric online.  I've had the most success with Ebay and Koshtex Fabrics.
            </p>
        </div>
        <img src="~/images/sewing2.jpg" alt="Image of a gardening apron made from recycled jeans." />
        <img src="~/images/sewing1.jpg" alt="Image of a shirt sewn from a patter." />
    </article>
</main>

