
@{
    ViewData["Title"] = "Fiber: Spinning";
    ViewData["Description"] = "We dye our own wool and spin it into yarn at Nettlesnook Farm.";
}

<main class="content">
    <h2>Fiber Crafts: Spinning</h2>
    <article>
        <div class="content-left">
            <p class="intro">
                Spinning is my zen.  As the wool runs through my fingers I clear all thoughts from my head and just watch it
                turn to yarn.  I am always moving and spinning allows me to just be.  I could spin for hours, but eventually my
                hands cramp and I know it is time to quit and let the spinning lie for another day.  I am not a great spinner,
                but I love creating my own yarns. It is such a simple thing.
            </p>
        </div>
        <img src="~/images/spin1.jpg" alt="Image of a spinning wheel." />
        <img src="~/images/spin2.jpg" alt="Image of hand spun yarn." />
        <img src="~/images/spin3.jpg" alt="Image of a neck warm made from hand spun yarn." />
        <img src="~/images/sheep1.jpg" alt="Picture of our sheep that needs to be sheared." />
    </article>
</main>