
@{
    ViewData["Title"] = "Permaculture: Herbs";
    ViewData["Description"] = "We have a herb garden right outside our front door at Nettlesnook Farm that we get all of our seasonings from.";
}

<main class="content">
    <h2>Permaculture: Herbs</h2>
    <div class="content-left">
        <p class="intro">
            Fresh herbs grow right outside our front door ready for picking 9 months out of the year.  We grow herbs for
            culinary flavoring, as well as, for medicinal purposes and some for my handmade beauty products. Basil and oregano
            grace our wood-fired pizzas during the summer months. Calendula is used in many of my herbal salves and lavender or
            lemon balm tea is just perfect on a warm summer day.  The most rewarding part of growing so many herbs is that our
            honey bees love it. Herbal honey, now that is some flavorful honey!
        </p>
    </div>
    <img src="~/images/herbs1.jpg" alt="Picture of herb bushes." />
    <img src="~/images/herbs2.jpg" alt="Picture of sprigs or oregano." />
</main>