
@{
    ViewData["Title"] = "Permaculture";
    ViewData["Description"] = "At Nettlesnook Farm, we believe in working with the land using permaculter techniques instead of fighting it.";
}

<main class="index">
    <h2>Nettlesnook Farm: Permaculture</h2>
    <p class="intro">
        We attended a workshop at Raintree, a few years ago, on edible landscaping. (I am always trying to get new ideas.)
        There was a young gentleman in attendance who was getting a degree in horticulture with an emphasis on permaculture.
        Perma-a-what I thought.  He explained the philosophy about studying the land, and working with you have. An older fellow
        new to gardening, organics, etc. asked what some options were for getting rid of all the sticks he had been clearing from
        his land, at present he was burning them.  The young gentlemen talked about a boundary fence and an idea was planted in my
        brain.  Between us and our neighbor to the south we made a boundary fence of branches, twig and topped with weeds I pull from
        the garden.  Finally I have a place to pile all the branches from storms and trees we have had to fell. The oldest article is
        about 2 years old and is starting to compress, while the newest article was started just last month.  We pile on the thickest
        branches on the bottom and put the smaller stuff on top.  Our hope is that in a few years it will be compressed and decomposed
        enough that we can plant a natural border of hedges. The wall is sturdy enough that it would work as a fence for the pigs we are
        considering getting.  The nicest part was it took care of a problem, excess debris, provided a border that both we and the
        neighbor like, and eventually it will provide valuable soil for planting.
    </p>
    <div>
        <article>
            <a href="herbs.html">
                <h3>Herbs</h3>
                <img src="~/images/herbsThumb.jpg" alt="Picture of oregano sprigs." />
                <p>
                    Our meals are flavored with fresh organic herbs located right outside our front door.
                </p>
            </a>
        </article>
        <article>
            <a href="landscaping.html">
                <h3>Edible Landscaping</h3>
                <img src="~/images/weavingThumb.jpg" alt="Picture of an outside loom." />
                <p>
                    It is amazing what you can grow yourself.  Come see everything we have.
                </p>
            </a>
        </article>
        <article>
            <a href="vegetable.html">
                <h3>Vegetables</h3>
                <img src="~/images/gardenThumb.jpg" alt="Image of a vegetable garden." />
                <p>
                    What farm would be complete without a vegetable garden?
                </p>
            </a>
        </article>
    </div>
</main>