
@{
    ViewData["Title"] = "Permaculture: Landscaping";
    ViewData["Description"] = "See many of the permaculture techniques we at Nettlesnook Farm in our landscaping.";
}

<main class="content">
    <h2>Permaculture: Edible Landscaping</h2>
    <div class="content-left">
        <p class="intro">
            Our house is surrounded by edible landscaping.  There is a vegetable garden in our front yard, fruit trees off the
            side a trellis covered with grape vines and hanging tomato pots and herbs in a contained garden bed.  I like
            beautiful things and when the plants feed us they are even more spectacular. Every year I add to our landscaping.
            Discounted stock from Raintree Nursery, as well as, unusual fruit varieties from Burnt Ridge Nursery, grace much of
            our acreage.  Next to the roses garlic grows.  A trellis by our water fountain houses kiwis.  The walkway to our
            cottage is full of ever bearing strawberries and we started a espalier to surround currants, jostaberries,
            honeyberries and lingonberries. The raspberry row borders the front garden providers snacking for us and visitors.
            I often enjoy strolling round the house grazing on bits of this. Beautiful vegetation surrounds us and it's edible
            too.
        </p>
    </div>
    <img src="~/images/permaculture1.jpg" alt="Picture of two bee hives." />
    <img src="~/images/trellis1.jpg" alt="Image of two hazel nut trees." />
    <img src="~/images/arbor1.jpg" alt="Picture of kiwi vines around an arbor." />
</main>