
@{
    ViewData["Title"] = "Permaculture: Vegetables";
    ViewData["Description"] = "Come check out the kind of vegetables we grow at Nettlesnook Farm that you cannot find in a store.";
}

<main class="content">
    <h2>Permaculture: Vegetables</h2>
    <div class="content-left">
        <p class="intro">
            Our front yard became our vegetable garden a few years after we tired of mowing the front yard.  I had
            planted the herb garden just to the left of our front door and as we cooked a meal we would pop outside
            and grab a handful of fresh herbs.  It was so easy, I thought why not just put the garden out front so it
            closer to the house. That is what we did.  There are four vegetable beds and a larger flower bed closer
            to the driveway.  Rosa Rugosa separates the garden from our driveway.  It is a nice shrub border and
            provides us with plenty of rose petals and rose hips for jams, wines and beauty products. We grow mostly
            edible flowers for salads and bouquets and some for my natural dyeing and beauty products.  Our vegetables
            vary each year, but we always have carrots, lettuce, beans, peas, leeks and squash.  The garden is a nice
            addition to our food needs for the year.  I enjoy growing heirlooms and unusual varieties, the kind you
            cannot find in the grocery store. The best part is pulling a fresh parsnip, brussels sprout or leek in
            mid-winter. Since the garden is right there every time we enter our home, we remember to pick the
            vegetables at their peak times.  It also motivates me to weed (we grow organic) because I enjoy a beautiful
            yard.
        </p>
    </div>
    <img src="~/images/hops1.jpg" alt="Picture of hop vines climbing a trellis." />
</main>