@{
    ViewData["Title"] = "Message Recieved";
    ViewData["Title"] = "Confirmation that we recieved you message at Nettlesnook Farm.";
}

<main class="content">
    <h2>We got your message!</h2>
    <article>
        <div class="content-left">
            <p>We'll sit on it and keep it warm until it is collected.</p>
        </div>
        <img src="~/images/geese1.jpg" alt="Picture of geese laying on nest." title="Geese" />
    </article>
</main>

