
@{
    ViewData["Title"] = "Beverages";
    ViewData["Description"] = "At Nettlesnook Farm we make our own beer from ingredients grown on our own land.";
}

<main class="content">
    <h2>Fermenting: Beverages</h2>
    <p class="intro">
        We make almost all of our own beverages.  From our garden, we use grapes and many other fruits to make a variety of wines.  We
        make beer using our own home grown hops.  And we even make our own kombucha; which, to us, is like having our own supply of soda pop.
    </p>
    <article>
        <h3>Beer</h3>
        <div class="content-left">
            <p>
                I would like to say that we make many types of beer.  But, my favorite type is the unfiltered wheat beer Hefeweizen.
                Because it is unfiltered it is a very easy beer to make and the first recipe in the book, and I will probably never make
                any of the other recipes.  Why mess with perfection?  I use our own homegrown hops from our garden in the beer.
            </p>
        </div>
        <img src="../images/beer1.jpg" alt="Image of different bottles of homemade beer." />
    </article>
    <article>
        <h3>Wine</h3>
        <div class="content-left">
            <p>
                We use our own grapes and all the other fruits from our property to make many different wines.  We even
                make rose petal and rose hip wine from roses in our garden.  We use the
                Laissez-Faire Method to make our wines which means we do not use any other additives.  Just fruit, sugar and yeast.
            </p>
        </div>
        <img src="../images/roses1.jpg" alt="Image of roses used for wine making." />
    </article>
    <article>
        <h3>Kombucha</h3>
        <div class="content-left">
            <p class="intro">
                We like to make our own things here at Nettlesnook Farm and after Mark attended a workshop at Mother Earth News Fair
                in Albany, Oregon in the summer of 2016 and we thought how hard can it be to make our own kombucha?
            </p>
            <h4>Here is how we started our first batch</h4>
            <p>
                While shopping at Trader Joe's we picked up a bottle of Ginger Aid Kombucha. We could see the scobi (the mushroom used
                to ferment the black tea to make kombucha) floating on the bottom.  Mark made the black tea with sugar (the scobi feeds
                on it and grows) for a quart size jar.  He let it grow a week and then did the process all over but now he makes it in
                gallon sized batches.
            </p>
            <table title="Kombucha Recipe">
                <thead>
                    <tr>
                        <th scope="col">Here is our Sweet Tea recipe:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1/3 cup sugar per quart of water</td>
                    </tr>
                    <tr>
                        <td>1 tea bag per quart of water + 1 extra for any size batch</td>
                    </tr>
                    <tr>
                        <td>Let the sweet tea completely cool. (You don’t want to kill the scobi.)</td>
                    </tr>
                    <tr>
                        <td>Add the sweet tea to the scobi and kombucha. (A quart of kombucha is always left with the scobi.)</td>
                    </tr>
                    <tr>
                        <td>Let ferment 1-2 weeks.  We test occasionally until we like the taste, not too sweet and not too vinegary.</td>
                    </tr>
                </tbody>
            </table>
            <p>
                We reuse the kombucha bottles from the store and add to each bottle 2 tablespoons fruit juice and a
                tablespoon sliced ginger.  Let sit out about another week to help it get fizzy then transfer to fridge and enjoy.
                Our favorite is aronia berry juice (preserved from our bushes).
            </p>
        </div>
        <img src="../images/DSCN2015.JPG" alt="Sweet Tea Cooling On Stove.">
        <img src="../images/DSCN2017.JPG" alt="Scobi floating in a new batch">
    </article>
</main>

