
@{
    ViewData["Title"] = "Fermenting: Sourdough";
    ViewData["Description"] = "We like to make all kinds of bread at Nettlesnook Farm, and the most natural kind with the least ingredients is sourdough bread.";
}

<main class="content">
    <h2>Fermenting: Sourdough</h2>
    <p class="intro">
        Although I will use yeast when I need to make bread faster, I prefer to use sourdough starter.  That way, the only thing
        in the bread is flour, water, salt and the starter, which is only four and water.
    </p>
    <div class="content-left">
        <p>
            There is nothing better than a fresh loaf of bread.  And you can take the same basic ingredients and make so many
            different types and shapes.
        </p>
    </div>
    <img src="../images/bread1.JPG" alt="Image of sourdough bread on a cutting board.">
</main>

