
@{
    ViewData["Title"] = "Fermenting: Vegitables";
    ViewData["Description"] = "We believe at Nettlesnook Farm that the best way to store the bounty from our garden is to just ferment it.";
}

<main class="content">
    <h2>Fermenting: Vegetables</h2>
    <p class="intro">
        Often we begin a new hobby inspired by a friend.  A friend of ours was offering a class at the local
        community college on fermented food.  Mark was interested and thought it might be good for us to eat
        fermented food because he had read how they are natural probiotics.  Our first batch of fermented food
        was sauerkraut, then purple beans (because we had so many in the garden) and so the list went on.
        We make sauerkraut when the last jar in the fridge is low.  I eat a portion every day and I have to say
        I feel better.  In the summer we get a little more adventurous with our fermenting and ferment whatever
        we have a lot of in the garden.  It all tastes good, you do not have to worry about spoilage and everyone
        should be eating more of it.
    </p>
    <p>Our simple fermenting recipe:</p>
    <ol>
        <li>
            You will need a quart jar, a fermenting top and a weight to get the veggies below the brine (we use a flat
            stone), a tapping tool or end of a wooden spoon,  veggies, salt and a big bowl to mix it all together.
        </li>
        <li>Cut, dice or slice enough veggies to fill up a quart jar.</li>
        <li>
            Add 1 ½ % salt to veggies and mash with hands until juices are freely flowing from vegetables.  For some
            vegetables we use out leftover sauerkraut juice form our last jar, because we are unable to get enough
            juice out of veggies.
        </li>
        <li>
            Stuff into the quart jar. Tap the vegetables firmly in jar, there should not be any air space.  Leave
            about 1 inch head room.  Place weight on vegetables so they are covered with juice and screw on
            fermenting lid.  Leave at room temperature and begin tasting at about day 4 until you like the flavor.
            Some vegetables take weeks.  Place in the refrigerator and enjoy.
        </li>
        <li>If there is any mold, scrape it off with a spoon and stir into juice, this kills it.</li>
    </ol>
</main>
