
@{
    ViewData["Title"] = "Resources: Books";
    ViewData["Description"] = "Here is a list of books we use to get our inspiration at Nettleslook Farm.";
}

<main class="content">
    <h2>Resources: Books</h2>
    <p class="intro">
        Here are a list of books that we get our inspiration from.  We are always reading and adding more.
    </p>
    <h3>Fermenting Beverages</h3>
    <ul>
        <li><cite>The Everything Homebrewing Book</cite> by Drew Beechum</li>
        <li><cite>Natural Winemaking at Home</cite> by Anine Grumbles and Allyson Kirner</li>
        <li><cite>Fermented Vegetables</cite> by Kirsten K. Shockey and Christopher Shockey</li>
    </ul>
    <h3>Fiber Arts</h3>
    <ul>
        <li><cite>The Opinionated Knitter</cite> by Elizabeth Zimmerman</li>
        <li><cite>Craft of the Dyer</cite> by Karen Leigh Casselman</li>
    </ul>
    <h3>Gardening</h3>
    <ul>
        <li><cite>Edible Landscaping</cite> by Rosalind Creasy</li>
        <li><cite>The Vegetable Growers Handbook</cite> by Frank Tozer</li>
        <li><cite>Natural Beekeeping</cite> by Ross Conrad</li>
    </ul>
    <h3>Sourdough Bread</h3>
    <ul>
        <li><cite>Local Breads</cite> by Daniel Leader</li>
    </ul>
    <h3>Permaculture</h3>
    <ul>
        <li><cite>Build Your Own Earth Oven: 3rd Edition</cite> by Kaiko Denzer</li>
    </ul>
</main>