
@{
    ViewData["Title"] = "Resources";
    ViewData["Description"] = "Find out where we get most of our inspiration and supplies for Nettlesnook Farm.";
}

<main class="index">
    <h2>Nettlesnook Farm: Resources</h2>
    <p class="intro">
        These are the books and sites that we get our inspiration, knowledge and supplies from.
    </p>
    <div>
        <article>
            <a href="books.html">
                <h3>Books</h3>
                <img src="~/images/resourcesThumb.jpg" alt="Picture of books on a bookshelf." />
                <p>
                    A listing of our favorite books that we get our inspiration from.
                </p>
            </a>
        </article>
        <article>
            <a href="Sites.html">
                <h3>Sites</h3>
                <img src="~/images/sitesThumb.jpg" alt="Image of the beginning of a web address." />
                <p>
                    The web sites that we have found to get the best stuff from.
                </p>
            </a>
        </article>
    </div>
</main>