
@{
    ViewData["Title"] = "Resources: Sites";
    ViewData["Description"] = "The web sites we get our inspiration and supplies from.";
}

<main class="content">
    <h2>Resources: Sites</h2>
    <p class="intro">
        These are the web sites that we get our ideas and supplies from.
    </p>
    <article>
        <h3>Inspiration</h3>
        <div class="content-left">
            <ul>
                <li><a href="http://www.motherearthliving.com/">Mother Earth Living Magazine</a></li>
                <li><a href="https://taprootmag.com/">Taproot Magazine</a></li>
            </ul>
        </div>
        <img src="~/images/geese1.jpg" alt="Picture of two geese laying on a nest." />
    </article>
    <article>
        <h3>Supplies</h3>
        <div class="content-left">
            <ul>
                <li><a href="http://www.burntridgenursery.com/">Burnt Ridge Nursery and Orchards</a></li>
                <li><a href="http://www.raintreenursery.com/">Raintree Nursery</a></li>
            </ul>
        </div>
        <img src="~/images/ducks1.jpg" alt="Picture of three Blue Indian Runner Ducks." />
    </article>
</main>